body{
  margin:0;
  font-family:Segoe UI;
  background:linear-gradient(135deg,#667eea,#764ba2);
}

header{
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:#000;
  color:white;
}

.container{display:flex}

.sidebar{
  width:220px;
  background:#222;
  color:white;
  padding:20px;
}

.main{flex:1;padding:20px}

input,select,textarea,button{
  display:block;
  margin:10px 0;
  padding:10px;
  width:100%;
}
